# Firebase config for diasporaApp
# Copy this file to .env and paste values from:
# Firebase Console → Project settings → Your apps → Web app config

EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyAD5XQ48TS4iKsZ-Uddeyq_XlI8PQuGq9Y

EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=diasporaapp-d9cfc.firebaseapp.com

EXPO_PUBLIC_FIREBASE_PROJECT_ID=diasporaapp-d9cfc

EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=diasporaapp-d9cfc.firebasestorage.app

EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=744778448890

EXPO_PUBLIC_FIREBASE_APP_ID=1:744778448890:web:91282d939a5fe7d8192e43

EXPO_PUBLIC_FIREBASE_MEASUREMENT_ID=G-8WGY934WJJ
